@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    font-size: 16px;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header {
    background: url("./img/delirium.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#header_text {
    margin: 10vh auto ;
    text-align: center;
    width: 40%;
    padding-bottom: 45vh;

}

#header_text h1 {
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-family: lobster;
    font-size: 5vw;
}

#header_text p {
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-size: 1.4em;
    line-height: 2em;
    font-family: raleway;
}

#header_overlay {
    background: rgba(14, 6, 52, 0.80);
    height: 100%;
}

#nav_bg {
    width: 100%;
}

#menu {
    padding-top: 40px;
    display: flex;
    height: 8vh;
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}

#menu li {
    font-size: 1em;
    font-weight: 700;
    list-style: none;
    color: rgba(255, 255, 255, 0.82);
    font-family: "raleway";
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#menu li:hover {
    cursor: pointer;
    color: white;
}

#about {
    padding: 100px 25px;
    display: flex;
    align-items: center;
}

#about #about_img {
    height: 100%;
    width: 50%;
}

#about_img img {
    width: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px 50px rgba(23, 23, 23, 0.16);
}

#about_img:after {
    content: " ";
    margin-top: -180px;
    position: absolute;
    width: 250px;
    z-index: -1;
    height: 200px;
    background: goldenrod;
}

#about #about_desc {
    width: 50%;
    text-align: center;
    min-width: 250px;
    padding: 0 15px;
}

#about #about_desc h1 {
    font-family: lobster;
    font-size: 3em;
    color: rgb(27, 11, 91);
    margin-bottom: 20px;
}

#about #about_desc h1:after {
    content: " ";
    position: absolute;
    margin-left: -180px;
    z-index: -1;
    width: 60px;
    height: 60px;
    background: goldenrod;
    border-radius: 100px;
}

#about #about_desc p {
    font-family: raleway;
    font-weight: 500;
    font-size: 0.9em;
    color: #060606;
    line-height: 1.8em;
}

#wrapper {
    width: 70vw;
    margin: 0 auto;
}

.section_title {
    font-family: lobster;
    font-size: 3em;
    color: rgb(27, 11, 91);
    margin-bottom: 20px;
}

#social {
    padding: 50px 0px;
    background: #f5f5f5;
    position: relative;
    z-index: -3;
}

#social #social_title {
    text-align: center;
}

#social #social_bg {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 50px auto 0;
    width: 30%;
    min-width: 254px;
    height: 300px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.79);
    background-color: rgba(27, 11, 91, 0.55);
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    box-shadow: 10px 10px 50px rgba(23, 23, 23, 0.50);
}

#social #icons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.fa-3x {
    transition: all 300ms cubic-bezier(1, 0.18, 1, 1);
}

.fa-3x:hover {
    cursor: pointer;
    color: white;
    position: relative;
    top: -5px;
}

#social #social_bg h3 {
    margin-top: 50px;
    text-align: center;
    font-family: raleway;
    text-transform: uppercase;
}

#social #social_title:after {
    content: " ";
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-left: -325px;
    z-index: -1;
    width: 60px;
    height: 60px;
    background: goldenrod;
    border-radius: 100px;
}

@media screen and (max-width: 1000px) {

    #wrapper {
        width: 90vw;

    }

    #header_text {
        margin: 25px auto;
        text-align: center;
        width: 40%;
    }

    #about {
        flex-wrap: wrap;
        padding: 20px;
    }

    #about #about_img img {
        width: 80%;
        margin: 0 auto 20px;
    }

    #about #about_img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    #about #about_desc {
        width: 100%;
        min-width: 0;
    }

    #menu {
        width: 100%;
    }

    #about_img:after {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    #header_text {
        margin-top: 40px;
        width: 80%;
    }

    #header_text h1 {
        font-size: 2em;
    }

    #header_text p {
        font-size: 0.8em;
    }

    #wrapper {
        margin: 0;
        width: 100%;
    }

    #about #about_img {
        width: 100%;
    }

    #about #about_desc {
        width: 100%;
    }

    #about_img img {
        width: 100%;
    }

    #about #about_desc {
        width: 100%;
    }

    .about {
        flex-wrap: wrap;
    }

    #menu {
        padding-top: 40px;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    #menu li {
        font-size: 0.6em;
        text-align: center;
        line-height: 2em;
    }

    #social #social_bg {
        width: 90%;
    }

}

.eventContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

}

.event {
  box-sizing: border-box;
width: 400px;
margin-left: 2%;
margin-right: 2%;
height: 300px;
margin-top: 50px;
box-shadow: 10px 10px 50px rgba(23, 23, 23, 0.16);
background-image: url("img/ZenBG.png");
padding-left: 40px;
padding-right: 40px;
border-radius: 10px;
transition: all .2s ease-in-out;
}

.event:hover{
  transform: scale(1.05);
}

.eventTitle {
  text-align: center;
  font-size: 29px;
  margin-top: 25px;
  font-family: lobster;
  color: rgb(27, 11, 91);
}

.dateTime {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: lobster two;
  font-size: 22px;
}

.eventInfo {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: raleway;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.eventButton {
  margin: 0 auto;
  display: block;
  font-size:20px;

}

@media screen and (max-width: 350px) {
  .eventButton{
    display: none;
  }
}
